
{% block all_articles %}

<div class="sommario-articoli">
 <span class="label warning"><h3 style="color:white;">Available summaries:</h3></span>
    {% for summary in summaries %}
        <a href="getId/{{summary.1}}" class="button success">{{summary.0}}</a>
    {% endfor %}
{{ deleted }}
<br>
</div>

{% endblock %}