
{% block header %}<div style="text-align:center;">
<span class = "label info"><h4 style="color:white;">Which words are most used by newspapers in their online edition.</h4></span>
</div>
 <span class="label warning"><h3 style="color:white;">How newspapers write? </h3></span>

<a href="/summaries/" class="button success">Summaries</a>
{#<a href="/statistiche/">Statistiche Generali</a> <a href="/trends/">Trend</a> #}
{% endblock %}
