{% extends "base.html" %}

{% block content %}
<div class="sommario-articoli">
Sommario numero articoli:<br>
{% for key, value in newspapers.items %}
    {{ key }} : {{ value }}
    
    <br>
{% endfor %}
</div>
<hr>
<div class="sommari" style="display: flex; white-space: nowrap;float: left !important;overflow: scroll;">
<div class="sommario-parole-generali" style="float:left; margin-right: 20px;">
    <h2>Termini piu' usati su <br>{{ total_words }} parole senza filtro:</h2><br>
   
    {% for item in allwords %}
        {{ item.0 }} {{ item.1 }} {{ item.2 }}%<br>
    {% endfor %}
</div>

<div class="sommario-parole" style="float:left; margin-right: 20px;">
    <h2>Termini piu' usati su <br>{{ total_words }} parole:</h2><br>
   
    {% for item in topused %}
        {{ item.0 }} : {{ item.1.numeric }} : {{ item.1.percentage }}%<br>
    {% endfor %}
</div>
{% for giornale,parole in giornali.items %}
<div class="giornale-{{ giornale }}" style="float:right;">
    <div class="giornale-parole" >
        <h2>{{ giornale }}<br></h2>
        
        {% for item in parole %}
            
            {{ item.0 }} : {{ item.1.numeric }} : {{ item.1.percentage }}%<br>
        {% endfor %}
    </div>
</div>
{% endfor %}

</div>
{% endblock %}
