{% extends "base.html" %}

{% block content %}
<div style="text-align:center; margin-bottom: 2%;">
    
         <div class="label success">
                
                    <h3 style="color:white;">Summary created at: <span style="color:orange;">{{ summary.created_at }}</span>. Total words: <span style="color:orange;">{{ summary.words_count }}</span></h3>
                {#<button type="button" class="button alert"><a href="/summaries/removeId/{{ summary.id }}" style="color:white !important;">Delete summary</a></button>#}
        </div>

</div>
<div class="row">
<div style="float:right; display:inline;">
    <div class="large-12 columns">
        <table>
          <thead>
            <tr>
              <th>Newspaper name</th>
              <th>Articles</th>
            </tr>
          </thead>
          <tbody>
            {% for art in summary.articles_count.all %}
            <tr>
            
                <td>
                    {{ art.testata }}
                </td>
                <td>
                    {{ art.numeric }}
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>  
    </div>
</div>



<div style="float:left; display:inline; width:50%;">
 
    <div class="large-12 columns">
        
        <ul class="accordion" data-accordion>
        {% for newspaper in summary.newspapers.all %}
            <li class="accordion-navigation">
                <a href="#demo{{ forloop.counter0 }}">{{newspaper.name}}</a>
                <div id="demo{{ forloop.counter0 }}" class="content">
                    <table>
                        <thead>
                        <tr>
                          <th>Word</th>
                          <th>Count</th>
                          <th>Wordtype</th>
                          <th>Newspaper</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for word in newspaper.words.all %}
                            <tr>
                                <td>
                                    {{ forloop.counter }}. {{word.word}}
                                </td>
                                <td>
                                    {{ word.numeric}}
                                </td>
                                <td>
                                    {{ word.word_type}}
                                </td>
                                <td>
                                    {{ newspaper.name}}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table> 
                    
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endblock %}
